{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div style="background-color: rgb(231, 229, 229);">
    <div class="container pt-5 ">
        <div class="row d-flex justify-content-center align-items-center pb-3">
            <div class="col-md-6 col-12">
                <div class="float-md-end float-none text-center text-none">
                    <h6 class="text-none">Pandora'dan En Son Haberleri Alın!</h6>
                    <p class="small">Yeni gelenlerden, promosyonlarımızdan, ilham veren stil <br> önerilerimizden ve daha birçok yenilikten haberdar ol. </p>
                </div>
            </div>
            <div class="col-md-6 col-12 ">
                <div class=" d-flex justify-content-center justify-content-md-start mb-1">
                    <input type="text" placeholder="E-posta adresini gir" class=" sendMail ps-2 " style="width: auto;">
                    <div class="btn btn-secondary px-4 py-2 rounded-0 ">Kaydol</div>
                </div>
            </div>
        </div>
        <hr class="">
    </div>
    <footer class="container mt-4 py-5">
        <!-- Computer size -->
        <div class="row footerComputer ">
            <div class="col-md-4 col-12">
                <div class="row">
                    <div class="col-6 small">
                        <h6 class="mb-3">KEŞFET</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">Charm'lar</a></li>
                            <li><a href="#" class="footer-link">Bileklik</a></li>
                            <li><a href="#" class="footer-link">Yüzük</a></li>
                            <li><a href="#" class="footer-link">Kolye</a></li>
                            <li><a href="#" class="footer-link">Küpe</a></li>
                            <li><a href="#" class="footer-link">Site Haritası</a></li>
                        </ul>
                    </div>
                    <div class="col-6 small">
                        <h6 class="mb-3">MÜŞTERİ DESTEK</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">İletişim</a></li>
                            <li><a href="#" class="footer-link">İade ve Değişim</a></li>
                            <li><a href="#" class="footer-link">SSS</a></li>
                            <li><a href="#" class="footer-link">SSS Mağazadan Teslim</a></li>
                            <li><a href="#" class="footer-link">Mağazadan Teslim</a></li>
                            <li><a href="#" class="footer-link">Hizmetlerimiz</a></li>
                            <li><a href="#" class="footer-link">Mücevher Bakımı</a></li>
                            <li><a href="#" class="footer-link">Beden Rehberi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="row">
                    <div class="col-4 small">
                        <h6 class="mb-3">PANDORA HAKKINDA</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">Pandora Company</a></li>
                            <li><a href="#" class="footer-link">Bir Pandora Mağazası Bulun</a></li>
                            <li><a href="#" class="footer-link">Kariyer</a></li>
                        </ul>
                    </div>
                    <div class="col-4 small">
                        <h6 class="mb-3">HESABIM</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">Hesabım</a></li>
                            <li><a href="#" class="footer-link">Pandora Club'a Katılın</a></li>
                        </ul>
                    </div>
                    <div class="col-4 small">
                        <h6 class="mb-3">HAKKIMIZDA</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer-link">Çerez Politikası</a></li>
                            <li><a href="#" class="footer-link">Gizlilik Politikası</a></li>
                            <li><a href="#" class="footer-link">Veri Koruma Formu</a></li>
                            <li><a href="#" class="footer-link">Bilgi Toplumu Hizmetleri</a></li>
                            <li><a href="#" class="footer-link">Pandora Ön Bilgilendirme Koşulları</a></li>
                            <li><a href="#" class="footer-link">MESAFELİ SATIŞ SÖZLEŞMESİ</a></li>
                            <li><a href="#" class="footer-link">İnternet Sitesi Satın Alma Hüküm ve Koşulları</a></li>
                            <li><a href="#" class="footer-link">Mağazadan Teslim Hüküm ve Koşulları</a></li>
                            <li><a href="#" class="footer-link">Çağrı Merkezi Aydınlatma Metni</a></li>
                            <li><a href="#" class="footer-link">Promosyon 21-29 Eylül 2024</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile size -->
        <div class="footerMobile d-xl-none accordion border-none mx-5" style="background-color: rgb(231, 229, 229);" id="accordionPanelsStayOpenExample">
            <div class="firstFooters">
                <!-- KEŞFET -->
                <div class="accordion-item rounded-0 border-top border-dark">
                    <h2 class="accordion-header " >
                        <button class="accordion-button collapsed border-top " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                            KEŞFET
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse border-0">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="footer-link">Charm'lar</a></li>
                                <li><a href="#" class="footer-link">Bileklik</a></li>
                                <li><a href="#" class="footer-link">Yüzük</a></li>
                                <li><a href="#" class="footer-link">Kolye</a></li>
                                <li><a href="#" class="footer-link">Küpe</a></li>
                                <li><a href="#" class="footer-link">Site Haritası</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <!-- MÜŞTERİ DESTEK -->
                <div class="accordion-item rounded-0 border-top border-dark">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            MÜŞTERİ DESTEK
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="footer-link">İletişim</a></li>
                                <li><a href="#" class="footer-link">İade ve Değişim</a></li>
                                <li><a href="#" class="footer-link">SSS</a></li>
                                <li><a href="#" class="footer-link">SSS Mağazadan Teslim</a></li>
                                <li><a href="#" class="footer-link">Mağazadan Teslim</a></li>
                                <li><a href="#" class="footer-link">Hizmetlerimiz</a></li>
                                <li><a href="#" class="footer-link">Mücevher Bakımı</a></li>
                                <li><a href="#" class="footer-link">Beden Rehberi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="secondFooters">
                <!-- PANDORA HAKKINDA -->
                <div class="accordion-item rounded-0 border-top border-dark">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            PANDORA HAKKINDA
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="footer-link">Pandora Company</a></li>
                                <li><a href="#" class="footer-link">Bir Pandora Mağazası Bulun</a></li>
                                <li><a href="#" class="footer-link">Kariyer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <!-- HESABIM -->
                <div class="accordion-item rounded-0 border-top border-dark">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            HESABIM
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="footer-link">Hesabım</a></li>
                                <li><a href="#" class="footer-link">Pandora Club'a Katılın</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <!-- HAKKIMIZDA -->
                <div class="accordion-item rounded-0 border-top border-dark">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                            HAKKIMIZDA
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li><a href="#" class="footer-link">Çerez Politikası</a></li>
                                <li><a href="#" class="footer-link">Gizlilik Politikası</a></li>
                                <li><a href="#" class="footer-link">Veri Koruma Formu</a></li>
                                <li><a href="#" class="footer-link">Bilgi Toplumu Hizmetleri</a></li>
                                <li><a href="#" class="footer-link">Pandora Ön Bilgilendirme Koşulları</a></li>
                                <li><a href="#" class="footer-link">MESAFELİ SATIŞ SÖZLEŞMESİ</a></li>
                                <li><a href="#" class="footer-link">İnternet Sitesi Satın Alma Hüküm ve Koşulları</a></li>
                                <li><a href="#" class="footer-link">Mağazadan Teslim Hüküm ve Koşulları</a></li>
                                <li><a href="#" class="footer-link">Çağrı Merkezi Aydınlatma Metni</a></li>
                                <li><a href="#" class="footer-link">Promosyon 21-29 Eylül 2024</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    
    
    

</div>
